/* success.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.content {
  text-align: center;
}

.title {
  font-size: 2.5rem;
  color: #9c88ff;
  margin-bottom: 20px;
}

.message {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 30px;
}

.button {
  padding: 10px 20px;
  background-color: #9c88ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #9c88ff;
}
